# Supabase
SUPABASE_URL=https://nklszryrglsrzsgkyzob.supabase.co
SUPABASE_ANON_KEY=sua_chave_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_chave_aqui

# Google OAuth
GOOGLE_CLIENT_ID=sua_chave_aqui
GOOGLE_CLIENT_SECRET=sua_chave_aqui

# Vercel
VERCEL_URL=https://fluxo-financeiro-flax.vercel.app

# Server
PORT=3000
NODE_ENV=production
